@charset "UTF-8";

@media screen and (max-width:992px) { 
  #travel-form {
    margin:0;
  }
}

@media screen and (max-width:768px) { 
}

@media screen and (max-width:576px) { 
  #header-container {
    height:2rem;
  }
  .title {
    font-size:1.25rem;
  }
  .btn {
    padding:0.2rem;
  }
  #logout-button {
    font-size:0.5rem;
  }
  #main {
    margin:0.5rem;
  }
  #comment-list {
    margin-left:0;
  }
}
